In [1]:
import sys
import numpy as np
import math
import collections
import copy
import decimal
import itertools
from collections import deque 
from functools import reduce
from itertools import product
from itertools import combinations
from functools import lru_cache

In [72]:
A, B, K = map(int, input().split())

 2 9 100

In [ ]:
# maspy さんの参考に

In [76]:
ans = set(range(A, A+K)) | set(range(B-K+1, B+1))
l = [x for x in ans if A <= x <= B]
l.sort()

In [77]:
print(*l, sep='\n')

2
3
4
5
6
7
8
9

In [78]:
ans = set(range(A, A+K)) | set(range(B-K+1, B+1))
ans = {x for x in ans if A <= x <= B}
ans = sorted(ans)

In [79]:
print(*ans, sep='\n')

2
3
4
5
6
7
8
9

In [53]:
n = [x for x in range(A, B+1)]

In [ ]:
# TLE

In [56]:
ans = set(n[:K] + n[-K:])
ans = sorted(ans)

In [57]:
print(*ans, sep='\n')

2
3
4
5
6
7
8
9

In [ ]:
# TLE

In [42]:
o = set()
for ni in n[:K]:
    print(ni)
    o.add(ni)

2
3
4
5
6
7
8
9

In [27]:
for an in sorted(ans):
    print(an)

2
3
4
5
6
7
8
9

In [ ]:
# TLE

In [45]:
ans = set()
for ni in n[:K]:
    ans.add(ni)

In [46]:
for ni in n[-K:]:
    ans.add(ni)

In [47]:
for an in sorted(ans):
    print(an)

2
3
4
5
6
7
8
9

In [50]:
print("".join(str(ans)))

{2, 3, 4, 5, 6, 7, 8, 9}