## XGBデフォルト

In [1]:
import numpy as np
import pandas as pd

import xgboost
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error, make_scorer, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [24]:
# pickle ファイルから読み込み
train_pkl = pd.read_pickle('../001/train.pk1')

In [25]:
train_pkl.shape

(850, 11)

In [26]:
train_pkl.head()

,Age,T_Bil,D_Bil,ALP,ALT_GPT,AST_GOT,TP,Alb,AG_ratio,Gender_Male,disease
0,59,0.787109,0.150513,220.178696,13.467617,21.729246,6.816406,3.111328,1.006836,1,0
1,69,1.003906,0.195679,221.218414,51.033463,64.752319,6.890625,3.050781,0.751465,1,1
2,65,0.657227,0.081299,320.770538,12.625011,30.613180,5.949219,2.488281,0.774902,1,0
3,65,0.906738,0.214233,369.278168,34.347599,54.510086,6.968750,3.613281,0.988281,1,1
4,22,1.735352,0.197754,222.782028,20.572891,170.010178,5.835938,3.068359,1.026367,0,0

In [27]:
# 年齢、性別は削除
train_pkl.drop(['Age', 'Gender_Male'], axis=1, inplace=True)

In [ ]:
# 各レコードの最大値、最小値、合計、平均を加えてみる

In [30]:
train_pkl['max'] = train_pkl.apply(lambda x : np.max(x[:5]), axis=1)
train_pkl['min'] = train_pkl.apply(lambda x : np.min(x[:5]), axis=1)
train_pkl['sum'] = train_pkl.apply(lambda x : np.sum(x[:5]), axis=1)
train_pkl['ave'] = train_pkl.apply(lambda x : np.mean(x[:5]), axis=1)

In [31]:
train_pkl.head()

,T_Bil,D_Bil,ALP,ALT_GPT,AST_GOT,TP,Alb,AG_ratio,disease,max,min,sum,ave
0,0.787109,0.150513,220.178696,13.467617,21.729246,6.816406,3.111328,1.006836,0,220.178696,0.150513,256.313181,51.262636
1,1.003906,0.195679,221.218414,51.033463,64.752319,6.890625,3.050781,0.751465,1,221.218414,0.195679,338.203781,67.640756
2,0.657227,0.081299,320.770538,12.625011,30.613180,5.949219,2.488281,0.774902,0,320.770538,0.081299,364.747255,72.949451
3,0.906738,0.214233,369.278168,34.347599,54.510086,6.968750,3.613281,0.988281,1,369.278168,0.214233,459.256824,91.851365
4,1.735352,0.197754,222.782028,20.572891,170.010178,5.835938,3.068359,1.026367,0,222.782028,0.197754,415.298203,83.059641

In [32]:
train_pkl.shape

(850, 13)

In [33]:
train_pkl = train_pkl.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 8]]

In [34]:
train_pkl.shape

(850, 13)

In [35]:
train_pkl.head()

,T_Bil,D_Bil,ALP,ALT_GPT,AST_GOT,TP,Alb,AG_ratio,max,min,sum,ave,disease
0,0.787109,0.150513,220.178696,13.467617,21.729246,6.816406,3.111328,1.006836,220.178696,0.150513,256.313181,51.262636,0
1,1.003906,0.195679,221.218414,51.033463,64.752319,6.890625,3.050781,0.751465,221.218414,0.195679,338.203781,67.640756,1
2,0.657227,0.081299,320.770538,12.625011,30.613180,5.949219,2.488281,0.774902,320.770538,0.081299,364.747255,72.949451,0
3,0.906738,0.214233,369.278168,34.347599,54.510086,6.968750,3.613281,0.988281,369.278168,0.214233,459.256824,91.851365,1
4,1.735352,0.197754,222.782028,20.572891,170.010178,5.835938,3.068359,1.026367,222.782028,0.197754,415.298203,83.059641,0

In [ ]:
# T_Bilと D_Bil、AST_GOT と ALT_GPT の積を追加

In [ ]:
# train_pkl['TD_Bil'] = train_pkl['T_Bil'] + train_pkl['D_Bil']
# train_pkl['AST__ALT_GOT'] = train_pkl['AST_GOT'] * train_pkl['ALT_GPT']

In [ ]:
# 判断にあまり使用しなかった下位３つ削除
# TP, Alb, Age を削除

In [ ]:
# train_pkl = train_pkl.drop(['TP', 'Alb', 'Age'], axis=1)

In [ ]:
# train_pkl.shape

In [ ]:
# 相関の高く、判断の重要度の低いほうを削除
# ALT_GPT, D_Bil

In [ ]:
# train_pkl = train_pkl.drop(['ALT_GPT', 'D_Bil'], axis=1)

In [ ]:
# train_pkl.shape

In [4]:
# train_pkl.head()

,Age,T_Bil,D_Bil,ALP,ALT_GPT,AST_GOT,TP,Alb,AG_ratio,Gender_Male,disease
0,59,0.787109,0.150513,220.178696,13.467617,21.729246,6.816406,3.111328,1.006836,1,0
1,69,1.003906,0.195679,221.218414,51.033463,64.752319,6.890625,3.050781,0.751465,1,1
2,65,0.657227,0.081299,320.770538,12.625011,30.613180,5.949219,2.488281,0.774902,1,0
3,65,0.906738,0.214233,369.278168,34.347599,54.510086,6.968750,3.613281,0.988281,1,1
4,22,1.735352,0.197754,222.782028,20.572891,170.010178,5.835938,3.068359,1.026367,0,0

In [ ]:
# train_pkl = train_pkl.iloc[:, [0, 1, 2 ,3 ,4, 5, 6, 7, 8, 9, 11, 10]]

In [6]:
# train_pkl.drop(['Age', 'Gender_Male'], inplace=True, axis=1)

In [7]:
# train_pkl.head()

,T_Bil,D_Bil,ALP,ALT_GPT,AST_GOT,TP,Alb,AG_ratio,disease
0,0.787109,0.150513,220.178696,13.467617,21.729246,6.816406,3.111328,1.006836,0
1,1.003906,0.195679,221.218414,51.033463,64.752319,6.890625,3.050781,0.751465,1
2,0.657227,0.081299,320.770538,12.625011,30.613180,5.949219,2.488281,0.774902,0
3,0.906738,0.214233,369.278168,34.347599,54.510086,6.968750,3.613281,0.988281,1
4,1.735352,0.197754,222.782028,20.572891,170.010178,5.835938,3.068359,1.026367,0

In [38]:
train_pkl.shape

(850, 13)

## 訓練データとテストデータに分割

In [39]:
# 訓練とテストデータに分割
train, test = train_test_split(train_pkl, test_size=0.2, random_state=42)

In [40]:
# ターゲットと特徴量の分割
train_X = train.iloc[:, :-1]
train_y = train.disease.values

## 訓練データで訓練

In [60]:
XGB = XGBClassifier(lambda_l1=300, lamba_l2=15, max_depth=7)

In [61]:
XGB = XGB.fit(train_X, train_y, early_stopping_rounds=20, eval_metric='auc', eval_set=[(test_x, test_y)])

[0]	validation_0-auc:0.910906
Will train until validation_0-auc hasn't improved in 20 rounds.
[1]	validation_0-auc:0.912442
[2]	validation_0-auc:0.92515
[3]	validation_0-auc:0.940022
[4]	validation_0-auc:0.939952
[5]	validation_0-auc:0.938347
[6]	validation_0-auc:0.937229
[7]	validation_0-auc:0.940581
[8]	validation_0-auc:0.941698
[9]	validation_0-auc:0.943374
[10]	validation_0-auc:0.945818
[11]	validation_0-auc:0.945957
[12]	validation_0-auc:0.946446
[13]	validation_0-auc:0.947354
[14]	validation_0-auc:0.948541
[15]	validation_0-auc:0.949658
[16]	validation_0-auc:0.952032
[17]	validation_0-auc:0.950775
[18]	validation_0-auc:0.949937
[19]	validation_0-auc:0.950496
[20]	validation_0-auc:0.952241
[21]	validation_0-auc:0.953638
[22]	validation_0-auc:0.955174
[23]	validation_0-auc:0.956291
[24]	validation_0-auc:0.958106
[25]	validation_0-auc:0.958246
[26]	validation_0-auc:0.958525
[27]	validation_0-auc:0.958805
[28]	validation_0-auc:0.958665
[29]	validation_0-auc:0.959084
[30]	validation_0-auc:0.959782
[31]	validation_0-auc:0.959782
[32]	validation_0-auc:0.960341
[33]	validation_0-auc:0.961737
[34]	validation_0-auc:0.961318
[35]	validation_0-auc:0.962994
[36]	validation_0-auc:0.963413
[37]	validation_0-auc:0.965508
[38]	validation_0-auc:0.965787
[39]	validation_0-auc:0.966345
[40]	validation_0-auc:0.966764
[41]	validation_0-auc:0.967183
[42]	validation_0-auc:0.96844
[43]	validation_0-auc:0.968859
[44]	validation_0-auc:0.967882
[45]	validation_0-auc:0.968021
[46]	validation_0-auc:0.967463
[47]	validation_0-auc:0.967742
[48]	validation_0-auc:0.968301
[49]	validation_0-auc:0.96844
[50]	validation_0-auc:0.96844
[51]	validation_0-auc:0.967882
[52]	validation_0-auc:0.96844
[53]	validation_0-auc:0.968301
[54]	validation_0-auc:0.967882
[55]	validation_0-auc:0.96844
[56]	validation_0-auc:0.96844
[57]	validation_0-auc:0.968021
[58]	validation_0-auc:0.968021
[59]	validation_0-auc:0.968161
[60]	validation_0-auc:0.967742
[61]	validation_0-auc:0.967882
[62]	validation_0-auc:0.967463
[63]	validation_0-auc:0.966764
Stopping. Best iteration:
[43]	validation_0-auc:0.968859

In [62]:
XGB.feature_importances_

array([0.14296255, 0.05374013, 0.05599982, 0.0531982 , 0.07188261,
       0.05173986, 0.03553334, 0.06205699, 0.05135412, 0.        ,
       0.42153233, 0.        ], dtype=float32)

In [63]:
sorted(
    zip(map(lambda x: round(x, 3), XGB.feature_importances_), train_X.iloc[:, :].columns),
    reverse=True)

[(0.422, 'sum'),
 (0.143, 'T_Bil'),
 (0.072, 'AST_GOT'),
 (0.062, 'AG_ratio'),
 (0.056, 'ALP'),
 (0.054, 'D_Bil'),
 (0.053, 'ALT_GPT'),
 (0.052, 'TP'),
 (0.051, 'max'),
 (0.036, 'Alb'),
 (0.0, 'min'),
 (0.0, 'ave')]

## テストデータで実行

In [64]:
# ターゲットと特徴量の分割
test_x = test.iloc[:, :-1]
test_y = test.disease.values

In [65]:
test_x.shape, test_y.shape

((170, 12), (170,))

In [66]:
pred_y = XGB.predict(test_x)

In [67]:
confusion_matrix(test_y, pred_y)

array([[89,  4],
       [17, 60]], dtype=int64)

In [68]:
accuracy_score(test_y, pred_y)

0.8764705882352941

## 検証データで実行

In [ ]:
# 検証データ読み込み
valid = pd.read_pickle('./test.pk3')

In [ ]:
valid.shape

In [ ]:
type(valid)

In [ ]:
# ID の保存
# valid_pass = valid.id.values

In [ ]:
# valid_X = valid.iloc[:, 1:]
valid_X = valid.copy()

In [ ]:
valid_X.shape, train_X.shape

In [ ]:
# 判断にあまり使用しなかった下位３つ削除
# TP, Alb, Age を削除

In [ ]:
valid_X = valid_X.drop(['TP', 'Alb', 'Age'], axis=1)

In [ ]:
valid_X.shape

In [ ]:
# 相関の高く、判断の重要度の低いほうを削除
# ALT_GPT, D_Bil

In [ ]:
valid_X = valid_X.drop(['ALT_GPT', 'D_Bil'], axis=1)

In [ ]:
valid_X.shape

In [ ]:
valid_X.head()

In [ ]:
pred_valid_y = XGB.predict(valid_X)

In [ ]:
pred_valid_y.shape

In [ ]:
# type(valid_pass), type(pred_valid_y)

In [ ]:
result_df = pd.DataFrame(pred_valid_y)

In [ ]:
result_df.to_csv("./XGB_5.csv", header=False)