In [26]:
import pandas as np
import numpy as np

from sklearn.preprocessing import PolynomialFeatures

In [2]:
data = [
    (1, 2, 3, 4, 5),
    (2, 3, 4, 5 ,6),
    (3, 4, 5, 6, 7)
]

In [3]:
np_ar = np.array(data)

In [9]:
df = pd.DataFrame(data)

In [10]:
df

   0  1  2  3  4
0  1  2  3  4  5
1  2  3  4  5  6
2  3  4  5  6  7

In [18]:
df['sum'] = df.apply(lambda x : np.sum(x), axis=1)

In [19]:
df

   0  1  2  3  4  sum
0  1  2  3  4  5   21
1  2  3  4  5  6   29
2  3  4  5  6  7   37

In [22]:
df['max'] = df.apply(lambda x : np.max(x[:5]), axis=1)

In [23]:
df

   0  1  2  3  4  sum  max
0  1  2  3  4  5   21    5
1  2  3  4  5  6   29    6
2  3  4  5  6  7   37    7

In [24]:
df['min'] = df.apply(lambda x : np.min(x[:5]), axis=1)

In [25]:
df

   0  1  2  3  4  sum  max  min
0  1  2  3  4  5   21    5    1
1  2  3  4  5  6   29    6    2
2  3  4  5  6  7   37    7    3

In [27]:
poly = PolynomialFeatures(2)

In [31]:
poly.fit_transform(df.iloc[:, :6]).shape

(3, 28)

In [32]:
poly.fit_transform(df).shape

(3, 45)