In [14]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import tree

In [5]:
# pickle ファイルから読み込み
train_pkl = pd.read_pickle('./pd_train.pk2')

In [6]:
train_pkl.shape

(891, 15)

In [7]:
# Age, Fare は削除
# ダミー変数の先頭は削除
train_pkl.drop(['Age', 'Fare', 'Sex_female', 'Embarked_C', 'Pclass_1'], inplace=True, axis=1)

In [8]:
train_pkl.describe()

,Survived,SibSp,Parch,Age_bin,Fare_bin,Sex_male,Embarked_Q,Embarked_S,Pclass_2,Pclass_3
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,0.523008,0.381594,2.420875,0.904602,0.647587,0.086420,0.725028,0.206510,0.551066
std,0.486592,1.102743,0.806057,1.356289,1.980492,0.477990,0.281141,0.446751,0.405028,0.497665
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,1.000000,1.000000,0.000000,3.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,8.000000,6.000000,8.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# 訓練とテストデータに分割
train, test = train_test_split(train_pkl, test_size=0.2, random_state=42)

In [10]:
# ターゲットと特徴量の分割
train_X = train.iloc[:, 1:].values
train_y = train.Survived.values

In [11]:
RF = RandomForestClassifier(random_state=42)

In [16]:
RF = RF.fit(train_X, train_y)

In [18]:
RF.feature_importances_

array([0.08711705, 0.07653074, 0.16874224, 0.14559279, 0.36142182,
       0.02188899, 0.03442582, 0.03026847, 0.07401207])

In [20]:
sorted(
    zip(map(lambda x: round(x, 3), RF.feature_importances_), train.iloc[:, 1:].columns),
    reverse=True)

[(0.361, 'Sex_male'),
 (0.169, 'Age_bin'),
 (0.146, 'Fare_bin'),
 (0.087, 'SibSp'),
 (0.077, 'Parch'),
 (0.074, 'Pclass_3'),
 (0.034, 'Embarked_S'),
 (0.03, 'Pclass_2'),
 (0.022, 'Embarked_Q')]

In [22]:
# 訓練済みの決定木を視覚化
# dot_data = tree.export_graphviz(RF, out_file=None,
#                                feature_names=train.iloc[:, 1:].columns,
#                                class_names=train.Survived.name,
#                                rounded=True,
#                                filled=True,
#                                special_characters=True)

In [23]:
# ターゲットと特徴量の分割
test_x = test.iloc[:, 1:].values
test_y = test.Survived.values

In [24]:
test_x.shape, test_y.shape

((179, 9), (179,))

In [25]:
pred_y = RF.predict(test_x)

In [26]:
confusion_matrix(test_y, pred_y)

array([[90, 15],
       [17, 57]], dtype=int64)

In [27]:
accuracy_score(test_y, pred_y)

0.8212290502793296

In [28]:
# 検証データ読み込み
valid = pd.read_pickle('./pd_test.pk2')

In [29]:
valid.shape

(418, 15)

In [30]:
# ID の保存
valid_pass = valid.PassengerId.values

In [31]:
valid_X = valid.iloc[:, 1:]

In [32]:
valid_X.describe()

,Age,SibSp,Parch,Fare,Age_bin,Fare_bin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,29.599282,0.447368,0.392344,35.576535,2.476077,1.023923,0.363636,0.636364,0.244019,0.110048,0.645933,0.255981,0.222488,0.521531
std,12.703770,0.896760,0.981429,55.850103,1.301411,2.213844,0.481622,0.481622,0.430019,0.313324,0.478803,0.436934,0.416416,0.500135
min,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,0.000000,7.895800,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,14.454200,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,35.750000,1.000000,0.000000,31.471875,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,76.000000,8.000000,9.000000,512.329200,7.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
valid_X.drop(['Age', 'Fare', 'Sex_female', 'Embarked_C', 'Pclass_1'], inplace=True, axis=1)

In [34]:
valid_X.shape, train_X.shape

((418, 9), (712, 9))

In [35]:
pred_valid_y = RF.predict(valid_X)

In [36]:
pred_valid_y.shape

(418,)

In [37]:
type(valid_pass), type(pred_valid_y)

(numpy.ndarray, numpy.ndarray)

In [38]:
result_df = pd.DataFrame(pred_valid_y, valid_pass, columns=['Survived'])

In [39]:
result_df.to_csv("./RF_1.csv", index_label='PassengerId')