In [2]:
import sys
import numpy as np
import math
import collections
import copy
import decimal
from collections import deque 
from functools import reduce
from itertools import product
from itertools import combinations

In [2]:
l = [x for x in range(1, 10, 2)]

In [3]:
print(l)

[1, 3, 5, 7, 9]

In [4]:
s = str(l)

In [6]:
s

'[1, 3, 5, 7, 9]'

In [7]:
for v in l:
    print(v)

1
3
5
7
9

In [9]:
for v in l:
    print(v, end=' ')

1 3 5 7 9

In [10]:
l2 = ["01", "222", "ss"]

In [11]:
for s in l2:
    print(s, end=' ')

01 222 ss

In [12]:
l[::-1]

[9, 7, 5, 3, 1]

In [13]:
print(int(False))

0

In [14]:
print(int(True))

1

In [22]:
a = True
b = True
c = False
d = False

In [23]:
a&b, a|b

(True, True)

In [24]:
a&c, a|c

(False, True)

In [25]:
c&d, c|d

(False, False)

In [4]:
xy = [map(int, input().split()) for _ in range(3) ]

 0 1
 2 3
 4 5

In [5]:
for x, y in xy:
    print(x, y)

0 1
2 3
4 5

In [7]:
for x, y in xy:
    print(x, y)

ValueError: not enough values to unpack (expected 2, got 0)

In [8]:
xy.seek(0)

AttributeError: 'list' object has no attribute 'seek'

In [3]:
for x, y in product((-1, 0, 1), repeat=2):
    print(x, y)

-1 -1
-1 0
-1 1
0 -1
0 0
0 1
1 -1
1 0
1 1

In [4]:
52**2

2704