## 決定木デフォルト

In [1]:
import numpy as np
import pandas as pd

from sklearn import tree
from sklearn.metrics import  mean_squared_error
from sklearn.model_selection import train_test_split

import graphviz

In [2]:
# pickle ファイルから読み込み
train_pkl = pd.read_pickle('./train.pk3')

In [3]:
train_pkl.shape

(55323, 13)

In [4]:
train_pkl.describe()

,id,accommodates,bathrooms,bedrooms,beds,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
count,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000,55323.000000
mean,27787.181588,0.087360,0.228404,0.111274,0.238273,0.217685,160.307341,0.257253,0.437467,0.001356,0.000235,0.413806,0.028975
std,16043.404061,0.790027,0.781828,0.794160,0.712608,0.858604,168.266655,0.437124,0.496079,0.036795,0.015328,0.492519,0.167739
min,0.000000,-1.000000,-2.000000,-1.000000,-1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13892.500000,0.000000,0.000000,0.000000,0.000000,0.000000,74.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27778.000000,0.000000,0.000000,0.000000,0.000000,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41681.500000,0.000000,0.000000,0.000000,0.000000,0.000000,185.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,55582.000000,5.000000,12.000000,10.000000,12.000000,19.000000,1999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
train_pkl.head()

,id,accommodates,bathrooms,bedrooms,beds,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
0,0,1,1,0,1,0,138.0,0,0,0,0,1,0
1,1,0,0,0,0,0,42.0,0,1,0,0,1,0
2,2,0,1,0,0,0,65.0,0,1,0,0,1,0
3,3,0,0,0,0,0,166.0,0,1,0,0,1,0
4,4,0,0,0,0,0,165.0,0,1,0,0,0,0

## 訓練データとテストデータに分割

In [6]:
# 訓練とテストデータに分割
train, test = train_test_split(train_pkl, test_size=0.2, random_state=42)

In [7]:
# ターゲットと特徴量の分割
train_X_tmp = train.copy()
train_X_tmp.drop(['id', 'y'], axis=1, inplace=True)
train_X = train_X_tmp.iloc[:].values
train_y = train.y.values

In [8]:
train_X.shape, train_y.shape, train_X_tmp.shape

((44258, 11), (44258,), (44258, 11))

## 訓練データで訓練

In [9]:
DT = tree.DecisionTreeRegressor(max_depth=5, random_state=42)

In [10]:
DT = DT.fit(train_X, train_y)

In [11]:
train.y.name

'y'

In [12]:
DT.feature_importances_

array([0.02701169, 0.25176269, 0.50098643, 0.00420221, 0.00158597,
       0.00086026, 0.0016211 , 0.        , 0.        , 0.16752207,
       0.04444759])

In [13]:
# train_X.columns

In [14]:
# 特徴量の重要度が高い順に表示
print("特徴量の重要度が高い順：")
# sorted：reverse=True 降順
print(sorted(
    zip(map(lambda x: round(x, 3), DT.feature_importances_), train.iloc[:, [2, 3, 4, 5, 7, 8, 9, 10, 11]].columns),
    reverse=True))

特徴量の重要度が高い順：
[(0.501, 'beds'), (0.252, 'bedrooms'), (0.027, 'bathrooms'), (0.004, 'number_of_reviews'), (0.002, 'cancellation_policy_super_strict_30'), (0.002, 'cancellation_policy_moderate'), (0.001, 'cancellation_policy_strict'), (0.0, 'room_type_Private room'), (0.0, 'cancellation_policy_super_strict_60')]

In [15]:
# len(train.iloc[:, 1:].columns), train.iloc[:, 1:].columns

In [16]:
# 訓練済みの決定木を視覚化
# dot_data = tree.export_graphviz(DT, out_file=None,
#                                feature_names=train.iloc[:, 1:-1].columns,
#                                class_names=train.y.name,
#                                rounded=True,
#                                filled=True,
#                                special_characters=True)

In [17]:
# graph = graphviz.Source(dot_data)
# graph

In [18]:
# graph.write('.\DT.png')

In [19]:
type(train_X)

numpy.ndarray

In [20]:
sorted(
    zip(map(lambda x: round(x, 3), DT.feature_importances_), train.iloc[:, [2, 3, 4, 5, 7, 8, 9, 10, 11]].columns),
    reverse=True)

[(0.501, 'beds'),
 (0.252, 'bedrooms'),
 (0.027, 'bathrooms'),
 (0.004, 'number_of_reviews'),
 (0.002, 'cancellation_policy_super_strict_30'),
 (0.002, 'cancellation_policy_moderate'),
 (0.001, 'cancellation_policy_strict'),
 (0.0, 'room_type_Private room'),
 (0.0, 'cancellation_policy_super_strict_60')]

## テストデータで実行

In [21]:
# ターゲットと特徴量の分割
test_X_tmp = test.copy()
test_X_tmp.drop(['id', 'y'], axis=1, inplace=True)
test_x = test_X_tmp.iloc[:].values
test_y = test.y.values

In [22]:
test_x.shape, test_y.shape

((11065, 11), (11065,))

In [23]:
pred_y = DT.predict(test_x)

In [24]:
pred_y.shape

(11065,)

In [25]:
np.sqrt(mean_squared_error(test_y, pred_y))

133.37856738362984

In [26]:
test.head()

,id,accommodates,bathrooms,bedrooms,beds,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
43933,43933,0,0,0,0,0,75.0,0,1,0,0,1,0
277,277,0,0,0,0,0,79.0,0,1,0,0,0,0
1799,1799,0,0,0,0,2,41.0,0,1,0,0,1,0
49693,49693,0,0,-1,0,0,145.0,0,1,0,0,0,0
14870,14870,1,1,0,2,0,175.0,0,0,0,0,0,0

## 検証データで実行

In [27]:
# 検証データ読み込み
valid = pd.read_pickle('./test.pk3')

In [28]:
valid.shape

(18528, 12)

In [29]:
# ID の保存
valid_pass = valid.id.values

In [30]:
valid_X = valid.iloc[:, 1:].values

In [31]:
# valid_X.describe()

In [32]:
valid_X.shape, train_X.shape

((18528, 11), (44258, 11))

In [33]:
pred_valid_y = DT.predict(valid_X)

In [34]:
pred_valid_y.shape

(18528,)

In [35]:
type(valid_pass), type(pred_valid_y)

(numpy.ndarray, numpy.ndarray)

In [36]:
result_df = pd.DataFrame(pred_valid_y, valid_pass, columns=['y'])

In [37]:
result_df.head()

            y
0  287.338474
1  168.539394
2   90.664129
3  168.539394
4  168.539394

In [38]:
result_df.to_csv("./tree_7.csv", header=False)