## 決定木デフォルト

In [1]:
import numpy as np
import pandas as pd

from sklearn import tree
from sklearn.metrics import  mean_squared_error
from sklearn.model_selection import train_test_split

import graphviz

In [2]:
# pickle ファイルから読み込み
train_pkl = pd.read_pickle('./train.pk3')

In [3]:
train_pkl.shape

(55369, 13)

In [4]:
train_pkl.describe()

,id,accommodates,bathrooms,bedrooms,host_response_rate,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
count,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000,55369.000000
mean,27785.124745,3.156297,1.194766,1.265654,-0.260742,0.204013,160.263830,0.257220,0.437302,0.001355,0.000235,0.413950,0.029114
std,16043.410949,2.154443,0.547776,0.850044,0.439043,0.752392,168.239385,0.437105,0.496058,0.036780,0.015321,0.492544,0.168127
min,0.000000,1.000000,0.000000,0.000000,-1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13889.000000,2.000000,1.000000,1.000000,-1.000000,0.000000,74.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27778.000000,2.000000,1.000000,1.000000,0.000000,0.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41679.000000,4.000000,1.000000,1.000000,0.000000,0.000000,185.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,55582.000000,16.000000,8.000000,10.000000,0.000000,15.000000,1999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
train_pkl.head()

,id,accommodates,bathrooms,bedrooms,host_response_rate,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
0,0,6,2,1,-1,0,138.0,0,0,0,0,1,0
1,1,2,1,1,0,0,42.0,0,1,0,0,1,0
2,2,2,2,1,0,0,65.0,0,1,0,0,1,0
3,3,2,1,1,0,0,166.0,0,1,0,0,1,0
4,4,2,1,1,0,0,165.0,0,1,0,0,0,0

## 訓練データとテストデータに分割

In [6]:
# 訓練とテストデータに分割
train, test = train_test_split(train_pkl, test_size=0.2, random_state=42)

In [7]:
# ターゲットと特徴量の分割
train_X_tmp = train.copy()
train_X_tmp.drop(['id', 'y'], axis=1, inplace=True)
train_X = train_X_tmp.iloc[:].values
train_y = train.y.values

In [8]:
train_X.shape, train_y.shape, train_X_tmp.shape

((44295, 11), (44295,), (44295, 11))

## 訓練データで訓練

In [9]:
DT = tree.DecisionTreeRegressor(max_depth=5, random_state=42)

In [10]:
DT = DT.fit(train_X, train_y)

In [11]:
train.y.name

'y'

In [12]:
DT.feature_importances_

array([0.02860961, 0.32223458, 0.50957536, 0.02636854, 0.        ,
       0.0028995 , 0.        , 0.        , 0.00650685, 0.08331213,
       0.02049343])

In [13]:
# train_X.columns

In [14]:
# 特徴量の重要度が高い順に表示
print("特徴量の重要度が高い順：")
# sorted：reverse=True 降順
print(sorted(
    zip(map(lambda x: round(x, 3), DT.feature_importances_), train.iloc[:, [2, 3, 4, 5, 7, 8, 9, 10, 11]].columns),
    reverse=True))

特徴量の重要度が高い順：
[(0.51, 'host_response_rate'), (0.322, 'bedrooms'), (0.029, 'bathrooms'), (0.026, 'number_of_reviews'), (0.007, 'room_type_Private room'), (0.003, 'cancellation_policy_strict'), (0.0, 'cancellation_policy_super_strict_60'), (0.0, 'cancellation_policy_super_strict_30'), (0.0, 'cancellation_policy_moderate')]

In [15]:
# len(train.iloc[:, 1:].columns), train.iloc[:, 1:].columns

In [16]:
# 訓練済みの決定木を視覚化
# dot_data = tree.export_graphviz(DT, out_file=None,
#                                feature_names=train.iloc[:, 1:-1].columns,
#                                class_names=train.y.name,
#                                rounded=True,
#                                filled=True,
#                                special_characters=True)

In [17]:
# graph = graphviz.Source(dot_data)
# graph

In [18]:
# graph.write('.\DT.png')

In [19]:
type(train_X)

numpy.ndarray

In [20]:
sorted(
    zip(map(lambda x: round(x, 3), DT.feature_importances_), train.iloc[:, [2, 3, 4, 5, 7, 8, 9, 10, 11]].columns),
    reverse=True)

[(0.51, 'host_response_rate'),
 (0.322, 'bedrooms'),
 (0.029, 'bathrooms'),
 (0.026, 'number_of_reviews'),
 (0.007, 'room_type_Private room'),
 (0.003, 'cancellation_policy_strict'),
 (0.0, 'cancellation_policy_super_strict_60'),
 (0.0, 'cancellation_policy_super_strict_30'),
 (0.0, 'cancellation_policy_moderate')]

## テストデータで実行

In [21]:
# ターゲットと特徴量の分割
test_X_tmp = test.copy()
test_X_tmp.drop(['id', 'y'], axis=1, inplace=True)
test_x = test_X_tmp.iloc[:].values
test_y = test.y.values

In [22]:
test_x.shape, test_y.shape

((11074, 11), (11074,))

In [23]:
pred_y = DT.predict(test_x)

In [24]:
pred_y.shape

(11074,)

In [25]:
np.sqrt(mean_squared_error(test_y, pred_y))

129.13976374120173

In [39]:
test.head()

,id,accommodates,bathrooms,bedrooms,host_response_rate,number_of_reviews,y,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,room_type_Private room,room_type_Shared room
20499,20499,6,2,3,0,0,500.0,0,1,0,0,0,0
35590,35590,5,2,2,0,0,450.0,0,1,0,0,0,0
36928,36928,2,1,1,0,0,65.0,0,1,0,0,1,0
7213,7213,6,1,1,0,0,180.0,1,0,0,0,0,0
12771,12771,8,1,2,0,0,168.0,0,0,0,0,0,0

## 検証データで実行

In [26]:
# 検証データ読み込み
valid = pd.read_pickle('./test.pk3')

In [27]:
valid.shape

(18528, 12)

In [28]:
# ID の保存
valid_pass = valid.id.values

In [29]:
valid_X = valid.iloc[:, 1:].values

In [31]:
# valid_X.describe()

In [32]:
valid_X.shape, train_X.shape

((18528, 11), (44295, 11))

In [33]:
pred_valid_y = DT.predict(valid_X)

In [34]:
pred_valid_y.shape

(18528,)

In [35]:
type(valid_pass), type(pred_valid_y)

(numpy.ndarray, numpy.ndarray)

In [36]:
result_df = pd.DataFrame(pred_valid_y, valid_pass, columns=['y'])

In [37]:
result_df.head()

            y
0  266.646900
1  149.676086
2   84.577645
3  184.783190
4  149.676086

In [38]:
result_df.to_csv("./tree_3.csv", header=False)