In [60]:
N, Q = map(int, input().split())

 8 4

In [61]:
Qn = [list(map(int, input().split())) for _ in range(Q)]

 1 3 16
 2 4 7
 1 5 13
 2 4 7

In [6]:
Qn = [
    [1, 17677, 748938665],
    [1, 42503, 493603657],
    [1, 51718, 283907414],
    [1, 44628, 8005010],
    [1, 47572, 67979087],
    [1, 1369, 328191224],
    [1, 80627, 918484102],
    [2, 2651, 83868],
    [1, 85770, 831686987],
    [1, 96607, 371603910],
    [2, 14416, 15203],
    [1, 33944, 50546624],
    [1, 36246, 305850429],
    [1, 30667, 514253678],
    [1, 73445, 41211519],
    [2, 31292, 43549],
    [1, 95317, 934153674],
    [1, 65280, 420466470],
    [1, 75272, 975875293],
    [1, 95822, 713152989],
    [2, 37719, 73135],
]

In [62]:
def myUpdate(n, x):
    p = n + si - 1
    ma[p] = x
    while p >= 2:
        p //= 2
        ma[p] = max(ma[p*2], ma[p*2+1])
    return

In [63]:
def myQuery(l, r, a, b, x):
    if b <= l or r <= a:
        return -10**10
    if l <= a and b <= r:
        return ma[x]
    m = (a + b) // 2
    ml = myQuery(l, r, a, m, x*2)
    mr = myQuery(l, r, m, b, x*2+1)
    return max(ml, mr)

In [64]:
import math
import sys
sys.setrecursionlimit(10**7)
# sys.setrecursionlimit(1000)
ma = [0] * 2**20
si = 2 ** math.ceil(math.log2(N))
for q in Qn:
    op = q[0]
    if op == 1:
        _, p, x = q
        myUpdate(p, x)
    else:
        _, l, r = q
        print(myQuery(l, r, 1, si+1, 1))

0
13

In [65]:
len(ma), si

(1048576, 8)

In [11]:
import math
2 ** int(math.log2(N))

8

In [14]:
Qn[1][1], si

(42503, 65536)

In [17]:
ma[42503+si-1], ma[17677+si-1]

(493603657, 748938665)

In [18]:
pp = 42503+si-1
while pp >= 2:
    print(pp, ma[pp])
    pp //= 2

108038 493603657
54019 493603657
27009 493603657
13504 493603657
6752 493603657
3376 493603657
1688 493603657
844 493603657
422 493603657
211 493603657
105 493603657
52 493603657
26 493603657
13 493603657
6 493603657
3 493603657

In [19]:
ma[1]

975875293

In [40]:
myQuery(31292, 43549, 1, N+1, 1)

493603657

In [42]:
myQuery(37719, 73135, 1, N+1, 1)

975875293

In [66]:
# セグメント木
import sys
sys.setrecursionlimit(10**7)
class SegmentTree():
	# 要素 dat の初期化を行う（最初は全部ゼロ）
	def __init__(self, n):
		self.size = 1
		while self.size < n:
			self.size *= 2
		self.dat = [0] * (self.size * 2)
	
	# クエリ 1 に対する処理
	def update(self, pos, x):
		pos += self.size - 1
		self.dat[pos] = x
		while pos >= 2:
			pos //= 2
			self.dat[pos] = max(self.dat[pos * 2], self.dat[pos * 2 + 1])
	
	# クエリ 2 に対する処理
	# u は現在のセル番号、[a, b) はセルに対応する半開区間、[l, r) は求めたい半開区間
	def query(self, l, r, a, b, u):
		if r <= a or b <= l:
            # 一切含まれない場合
			return -1000000000
		if l <= a and b <= r:
            # 完全に含まれる場合
			return self.dat[u]
		m = (a + b) // 2
		answerL = self.query(l, r, a, m, u * 2)
		answerR = self.query(l, r, m, b, u * 2 + 1)
		return max(answerL, answerR)

In [67]:
sg = SegmentTree(N)
for q in Qn:
    op = q[0]
    if op == 1:
        _, p, x = q
        sg.update(p, x)
    else:
        _, l, r = q
        print(sg.query(l, r, 1, sg.size+1, 1))

0
13

In [35]:
131072 == si*2

True